html, body {
	
	height: 100%;
	margin: 0;

}

@font-face {

	font-family: "San Francisco";
	src: url(resources/sanfrancisco.otf);

}

@font-face {

	font-family: "Bungee";
	src: url(resources/bungee.ttf);

}

* {

	font-family: San Francisco;

}

body {

	background-image: url(img/1.jpg);
	background-position: center 37.5%;
	background-size: cover;
	position: relative;
	transition: background-image 1s ease-in-out;

}

.cache {

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0px;
	height: 0px;
	visibility: hidden;

}

#fade {

	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 5;

}

nav {

	opacity: 0;

}

h2, .head {

	font-family: "Bungee" !important;

}


nav li {

	margin: 0 5px;

}

nav li:not(:last-child) {

	border-right: 1px solid gray;

}

.banner {

	opacity: 0;
	color: white;
	position: absolute;
	top: calc(100vh - 33vmin);
	right: 5vmin;
	background-color: rgb(115, 11, 189);
	width: 25vw;
	min-width: 350px;
	height: 18vh;
	min-height: 140px;
	transition: background-color 1s;
	z-index: 1;

}

.quote {

	height: 11vmin;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: calc(100vh - 11vmin);
	box-sizing: border-box;
	padding-top: 3vmin;
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: 2.25vmin;
	text-shadow: 1px 1px 5px black;
	line-height: 3vmin;
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(50,50,50,0.5) 10%, rgba(50,50,50,0.7) 100%);

}