html, body {
	
	height: 100%;
	margin: 0;

}

@font-face {

	font-family: "San Francisco";
	src: url(resources/sanfrancisco.otf);

}

@font-face {

	font-family: "Bungee";
	src: url(resources/bungee.ttf);

}

* {

	font-family: San Francisco;

}

body {

	background-image: url(img/1.jpg);
	background-position: center 37.5%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	transition: background-image 1s ease-in-out;

}

.cache {

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0px;
	height: 0px;
	visibility: hidden;

}

#fade {

	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 5;

}

nav {

	opacity: 0;

}

h2, .head {

	font-family: "Bungee" !important;

}


nav li {

	margin: 0 5px;

}

nav li:not(:last-child) {

	border-right: 1px solid gray;

}

.banner {

	opacity: 0;
	color: white;
	position: absolute;
	top: calc(100vh - 28vmin);
	right: 0;
	background-color: rgb(115, 11, 189);
	width: 15vw;
	min-width: 220px;
	height: 12vh;
	min-height: 100px;
	transition: background-color 1s;
	z-index: 1;

}

.quote {

	height: 11vmin;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: calc(100vh - 11vmin);
	box-sizing: border-box;
	padding-top: 3vmin;
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: 2.25vmin;
	text-shadow: 1px 1px 5px black;
	line-height: 3vmin;
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(50,50,50,0.5) 10%, rgba(50,50,50,0.7) 100%);

}

.card {

	opacity: 0;
	border-radius: 1px solid black;
	background-color: rgba(100, 100, 100, 0.6) !important;
	color: white;
	text-shadow: 1px 1px 5px black;
	font-size: 1.25em;

}

.card h5 {

	font-size: 1.25em;

}

.card button {

	color: white;

}

hr {

	border: 3px solid white !important;

}

.card-deck .card {

	background-color: rgba(200, 200, 200, 0.4) !important;
	font-size: 1em;
	transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
	cursor: pointer;

}

.card-deck .card:hover {

	background-color: rgba(50, 50, 50, 0.4) !important;
	transform: scale(1.05);

}

.card-deck .card:active {

	transition: none;
	background-color: rgba(50, 50, 50, 0.8) !important;

}

.heading {

	padding: 25vh 0;
	height: 62.5vh;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 2px black;

}

.panel-heading {

	opacity: 0;
	font-size: 1.25em;
	color: white;
	display: inline-block;

}

.panel {

	opacity: 0;
	font-size: 1.25em;
	color: white;
	width: 100%;

}

table {

	width: 100%;
	table-layout: fixed;

}

td {

	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
	border: 5px solid white;
	font-family: Bungee;
	cursor: pointer;
	vertical-align: top;

}

td:hover {

	transform: scale(1.05);

}

td:active {

	transition: none;
	color: rgba(255, 255, 255, 0.7);

}

.d-flex.justify-content-center div {

	flex-basis: 0;
	flex-grow: 1;

}